In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/drive/My Drive/Python-Test/AVW.xlsx')
print(df.columns)
df.shape

Index(['Unnamed: 0', 'Unnamed: 1', 'Input', 'Change', 'Gain', 'Loss ',
       'Avg Gain', 'Avg Loss', 'HM', 'HMA'],
      dtype='object')

(33, 10)

In [ ]:
df

,Unnamed: 0,Unnamed: 1,Input,Change,Gain,Loss,Avg Gain,Avg Loss,HM,HMA
0,NaN,1,44.3389,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2,44.0902,-0.2487,0.0000,0.2487,NaN,NaN,NaN,NaN
2,NaN,3,44.1497,0.0595,0.0595,0.0000,NaN,NaN,NaN,NaN
3,NaN,4,43.6124,-0.5373,0.0000,0.5373,NaN,NaN,NaN,NaN
4,NaN,5,44.3278,0.7154,0.7154,0.0000,NaN,NaN,NaN,NaN
5,NaN,6,44.8264,0.4986,0.4986,0.0000,NaN,NaN,NaN,NaN
6,NaN,7,45.0955,0.2691,0.2691,0.0000,NaN,NaN,NaN,NaN
7,NaN,8,45.4245,0.3290,0.3290,0.0000,NaN,NaN,NaN,NaN
8,NaN,9,45.8433,0.4188,0.4188,0.0000,NaN,NaN,NaN,NaN
9,NaN,10,46.0826,0.2393,0.2393,0.0000,NaN,NaN,NaN,NaN
10,NaN,11,45.8931,-0.1895,0.0000,0.1895,NaN,NaN,NaN,NaN
11,NaN,12,46.0328,0.1397,0.1397,0.0000,NaN,NaN,NaN,NaN
12,NaN,13,45.6140,-0.4188,0.0000,0.4188,NaN,NaN,NaN,NaN
13,NaN,14,46.2820,0.6680,0.6680,0.0000,NaN,NaN,HM,HMA
14,NaN,15,46.2820,0.0000,0.0000,0.0000,0.238386,0.099593,2.393603,70.532789
15,NaN,16,46.0028,-0.2792,0.0000,0.2792,0.221358,0.112422,1.968994,66.318562
16,NaN,17,46.0328,0.0300,0.0300,0.0000,0.207690,0.104392,1.989521,66.54983
17,NaN,18,46.4116,0.3788,0.3788,0.0000,0.219912,0.096935,2.268647,69.406305
18,NaN,19,46.2222,-0.1894,0.0000,0.1894,0.204204,0.103540,1.972225,66.355169
19,NaN,20,45.6439,-0.5783,0.0000,0.5783,0.189618,0.137451,1.379528,57.974856
20,NaN,21,46.2122,0.5683,0.5683,0.0000,0.216667,0.127633,1.697571,62.929607
21,NaN,22,46.2521,0.0399,0.0399,0.0000,0.204040,0.118517,1.721618,63.257148
22,NaN,23,45.7137,-0.5384,0.0000,0.5384,0.189466,0.148508,1.275794,56.059299
23,NaN,24,46.4515,0.7378,0.7378,0.0000,0.228633,0.137901,1.657954,62.377071
24,NaN,25,45.7835,-0.6680,0.0000,0.6680,0.212302,0.175765,1.207875,54.707573
25,NaN,26,45.3548,-0.4287,0.0000,0.4287,0.197137,0.193832,1.017055,50.422774
26,NaN,27,44.0288,-1.3260,0.0000,1.3260,0.183056,0.274701,0.666384,39.989823
27,NaN,28,44.1783,0.1495,0.1495,0.0000,0.180659,0.255079,0.708248,41.460482
28,NaN,29,44.2181,0.0398,0.0398,0.0000,0.170598,0.236859,0.72025,41.868916
29,NaN,30,44.5672,0.3491,0.3491,0.0000,0.183348,0.219941,0.833625,45.463212
30,NaN,31,43.4205,-1.1467,0.0000,1.1467,0.170252,0.286138,0.594999,37.304042
31,NaN,32,42.6628,-0.7577,0.0000,0.7577,0.158091,0.319821,0.494311,33.079523
32,NaN,33,43.1314,0.4686,0.4686,0.0000,0.180270,0.296977,0.607018,37.772952

In [ ]:
c_values=pd.read_excel('/content/drive/My Drive/Python-Test/AVW.xlsx', index_col=0, header=0, usecols="C")

In [ ]:
c_values

Empty DataFrame
Columns: []
Index: [44.3389, 44.0902, 44.1497, 43.6124, 44.3278, 44.8264, 45.0955, 45.4245, 45.8433, 46.0826, 45.8931, 46.0328, 45.614, 46.282, 46.282, 46.0028, 46.0328, 46.4116, 46.2222, 45.6439, 46.2122, 46.2521, 45.7137, 46.4515, 45.7835, 45.3548, 44.0288, 44.1783, 44.2181, 44.5672, 43.4205, 42.6628, 43.1314]

In [ ]:
x_list = df['Input'].tolist()

print(x_list)

[44.3389, 44.0902, 44.1497, 43.6124, 44.3278, 44.8264, 45.0955, 45.4245, 45.8433, 46.0826, 45.8931, 46.0328, 45.614, 46.282, 46.282, 46.0028, 46.0328, 46.4116, 46.2222, 45.6439, 46.2122, 46.2521, 45.7137, 46.4515, 45.7835, 45.3548, 44.0288, 44.1783, 44.2181, 44.5672, 43.4205, 42.6628, 43.1314]

In [ ]:
change=[]
for i in range(1,len(x_list)):
  diff=x_list[i]-x_list[i-1]
  rounded_val=round(diff,2)
  change.append(rounded_val)
print(change)

[-0.25, 0.06, -0.54, 0.72, 0.5, 0.27, 0.33, 0.42, 0.24, -0.19, 0.14, -0.42, 0.67, 0.0, -0.28, 0.03, 0.38, -0.19, -0.58, 0.57, 0.04, -0.54, 0.74, -0.67, -0.43, -1.33, 0.15, 0.04, 0.35, -1.15, -0.76, 0.47]

In [ ]:
gain=[]
for i in change:
  result = i if i > 0 else 0
  gain.append(result)
print(gain)

[0, 0.06, 0, 0.72, 0.5, 0.27, 0.33, 0.42, 0.24, 0, 0.14, 0, 0.67, 0, 0, 0.03, 0.38, 0, 0, 0.57, 0.04, 0, 0.74, 0, 0, 0, 0.15, 0.04, 0.35, 0, 0, 0.47]

In [ ]:
loss=[]
for i in change:
  result = -i if i < 0 else 0
  loss.append(result)
print(loss)

[0.25, 0, 0.54, 0, 0, 0, 0, 0, 0, 0.19, 0, 0.42, 0, 0, 0.28, 0, 0, 0.19, 0.58, 0, 0, 0.54, 0, 0.67, 0.43, 1.33, 0, 0, 0, 1.15, 0.76, 0]

In [ ]:
avg_gain=[]
new_vals=gain[0:14]
result = sum(gain[0:14])/14

rounded_val1=round(result,2)
avg_gain.append(rounded_val1)
#avg_gain
gain_list1=gain[14:]
gain_list1

for i in range(0,18):
  results=avg_gain
  result = ((avg_gain[i] * 13) + gain_list1[i]) / 14
  #print(result)
  rounded_val2=round(result,2)
  avg_gain.append(rounded_val2)
  #print(result)
print(avg_gain)

[0.24, 0.22, 0.21, 0.22, 0.2, 0.19, 0.22, 0.21, 0.2, 0.24, 0.22, 0.2, 0.19, 0.19, 0.18, 0.19, 0.18, 0.17, 0.19]

In [ ]:
avg_loss=[]
new_vals=loss[0:14]
result = sum(loss[0:14])/14
#print(result)
rounded_val1=round(result,2)
avg_loss.append(rounded_val1)

loss_list1=loss[14:]#f17
loss_list1

for i in range(0,18):
  results=avg_loss
  result = ((avg_loss[i] * 13) + loss_list1[i]) / 14
  rounded_val2=round(result,2)
  avg_loss.append(rounded_val2)
  #print(result)
print(avg_loss)

[0.1, 0.11, 0.1, 0.09, 0.1, 0.13, 0.12, 0.11, 0.14, 0.13, 0.17, 0.19, 0.27, 0.25, 0.23, 0.21, 0.28, 0.31, 0.29]

In [ ]:
hm=[]
count=0
for i in avg_gain:
  result=i/avg_loss[count]
  count=count+1
  rounded_val3=round(result,2)
  hm.append(rounded_val3)
print(hm)

[2.4, 2.0, 2.1, 2.44, 2.0, 1.46, 1.83, 1.91, 1.43, 1.85, 1.29, 1.05, 0.7, 0.76, 0.78, 0.9, 0.64, 0.55, 0.66]

In [ ]:
values_h16 = avg_loss[0:19]
values_i16 = hm[0:19]
#print(values_i16)
results = []
for i in range(len(values_h16)):
    if values_h16[i] == 0:
        result = 100
    else:
        result = 100 - (100 / (1 + values_i16[i]))
    results.append(result)

print(results)
new_values = ["{:.2f}".format(value) for value in results]

print(new_values)

[70.58823529411765, 66.66666666666666, 67.74193548387098, 70.93023255813954, 66.66666666666666, 59.34959349593496, 64.66431095406361, 65.63573883161513, 58.8477366255144, 64.91228070175438, 56.33187772925764, 51.21951219512195, 41.17647058823529, 43.18181818181818, 43.82022471910113, 47.368421052631575, 39.024390243902445, 35.483870967741936, 39.75903614457832]
['70.59', '66.67', '67.74', '70.93', '66.67', '59.35', '64.66', '65.64', '58.85', '64.91', '56.33', '51.22', '41.18', '43.18', '43.82', '47.37', '39.02', '35.48', '39.76']